[Unit]
Description=My Node.js App
After=network.target

[Service]
ExecStart=/usr/bin/node /root/smartSakuProd/backend/server.js
Restart=always
User=root
Environment=NODE_ENV=production
WorkingDirectory=/root/smartSakuProd/backend

[Install]
WantedBy=multi-user.target
